@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-react-inputs/styles/material.css';
